{% extends "bootstrap_responsive.html" %}
{% block title %}
Annotate {{ entity_id }}
{% endblock %}

{% block body %}
{{ super() }}

<ul class="nav nav-tabs">
  <li><a href="/">Home</a> </li>
  <li><a href="{{ list_all_url }}">List all</a></li>
  <li class="active"><a href="#">Annotate {{ entity_id }}</a></li>
</ul>

<div class="container">
  <h2>{{ entity_id }}</h2>
  <ul>
    <li>Current status: {{ status }}</li>
    <li>Modification time: {{ mod_time }}</li>
    <li><a href="{{ confirm_url }}">Confirm this entity</a></li>
    <li><a href="{{ reject_url }}">Reject this entity</a></li>
    <!--<li><a href="">Go to location</a></li>-->
  </ul>
</div>
{% endblock %}
