{% extends "bootstrap/base.html" %}
{% block title %}
List all
{% endblock %}

{% block body %}
{{ super() }}
<ul class="nav nav-tabs">
  <li><a href="/">Home</a> </li>
  <li class="active"><a href="#">List all</a></li>
</ul>

<div class="container">
  <h2>All annotated entities</h2>
  <table border="1" cellpadding="8">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Offset</th>
      <th>Fuzziness</th>
      <th>Modification date</th>
      <!--<th>Link to location</th>-->
    </tr>
    {% for entity_id in mod_time_sorted_entity_ids %}
    <tr>
    <td><a href='{{ url_for("annotate" , entity_id = entity_id) }}'>{{ entity_id }}</a></td>
    <td>{{ entities[entity_id]["status"] }}</td>
    <td>{{ entities[entity_id]["offset"] }}</td>
    <td>{{ entities[entity_id]["fuzziness"] }}</td>
    <td>{{ entities[entity_id]["mod_time"] }}</td>
    <!--<td><a href="">Go to location</a></td>-->
    </tr>
    {% endfor %}
</div>

{% endblock %}

